In [35]:
import pandas as pd
import numpy as np
# 读取数据
dir_path = 'C:/Users/Yuetong/DataSet/tcjr/'
operation_train_path = dir_path + 'operation_train_new.csv'
transaction_train_path = dir_path + 'transaction_train_new.csv'
tag_train_path = dir_path + 'tag_train_new.csv'
operation_df = pd.read_csv(operation_train_path)
transaction_df = pd.read_csv(transaction_train_path)
tag_df = pd.read_csv(tag_train_path)

In [43]:
# 根据UID分组
operation_grouped = operation_df.groupby('UID')
id2operation={}
for name,group in operation_grouped:
    id2operation[name] = group

transaction_grouped = transaction_df.groupby('UID')
id2transaction={}
for name,group in transaction_grouped:
    id2transaction[name] = group

In [44]:
# 标签数据
id2tag=dict(tag_df.values.tolist())

In [63]:
id2operation[10000]

,UID,day,mode,success,time,os,version,device1,device2,device_code1,device_code2,device_code3,mac1,mac2,ip1,ip2,wifi,geo_code,ip1_sub,ip2_sub
87507,10000,13,c8741ce15ceac2a4,1.0,14:20:56,103,7.0.5,aca4977fbe8741e1,IPHONE 5,NaN,NaN,deb68f7028682008,NaN,NaN,31599eec867ba9c7,NaN,NaN,NaN,ee08d48e73120da4,NaN
96940,10000,26,c8741ce15ceac2a4,1.0,12:23:48,103,7.0.7,aca4977fbe8741e1,IPHONE 5,NaN,NaN,deb68f7028682008,NaN,NaN,34c715882de1a508,NaN,NaN,NaN,1e3ea9498c461cbf,NaN
150480,10000,26,d25caee90b27fa9b,1.0,12:24:21,103,7.0.7,aca4977fbe8741e1,NaN,NaN,NaN,deb68f7028682008,NaN,NaN,34c715882de1a508,NaN,NaN,NaN,1e3ea9498c461cbf,NaN
168206,10000,26,c8741ce15ceac2a4,1.0,12:23:48,103,7.0.7,aca4977fbe8741e1,IPHONE 5,NaN,NaN,deb68f7028682008,NaN,NaN,34c715882de1a508,NaN,NaN,NaN,1e3ea9498c461cbf,NaN
196361,10000,26,c8741ce15ceac2a4,1.0,12:23:48,103,7.0.7,aca4977fbe8741e1,IPHONE 5,NaN,NaN,deb68f7028682008,NaN,NaN,34c715882de1a508,NaN,NaN,NaN,1e3ea9498c461cbf,NaN
216744,10000,13,270ca3ca8f0d1126,1.0,14:22:59,103,7.0.5,aca4977fbe8741e1,IPHONE 5,NaN,NaN,deb68f7028682008,NaN,NaN,31599eec867ba9c7,NaN,NaN,NaN,ee08d48e73120da4,NaN
307385,10000,13,c8741ce15ceac2a4,1.0,14:20:56,103,7.0.5,aca4977fbe8741e1,IPHONE 5,NaN,NaN,deb68f7028682008,NaN,NaN,31599eec867ba9c7,NaN,NaN,NaN,ee08d48e73120da4,NaN
339411,10000,26,d25caee90b27fa9b,1.0,12:24:01,103,7.0.7,aca4977fbe8741e1,NaN,NaN,NaN,deb68f7028682008,NaN,NaN,34c715882de1a508,NaN,NaN,NaN,1e3ea9498c461cbf,NaN
420183,10000,13,c8741ce15ceac2a4,1.0,14:20:56,103,7.0.5,aca4977fbe8741e1,IPHONE 5,NaN,NaN,deb68f7028682008,NaN,NaN,31599eec867ba9c7,NaN,NaN,NaN,ee08d48e73120da4,NaN

In [64]:
id2transaction[10000]

,UID,channel,day,time,trans_amt,amt_src1,merchant,code1,code2,trans_type1,...,ip1,bal,amt_src2,acc_id2,acc_id3,geo_code,trans_type2,market_code,market_type,ip1_sub
90698,10000,140,26,12:23:56,5536,f29829bc82459191,88aa547576f43f85,NaN,NaN,c2f2023d279665b2,...,34c715882de1a508,100,9a8ee16bde15e38a,NaN,NaN,NaN,105.0,NaN,NaN,1e3ea9498c461cbf
134052,10000,140,26,12:24:17,5536,f29829bc82459191,88aa547576f43f85,NaN,NaN,c2f2023d279665b2,...,34c715882de1a508,100,9a8ee16bde15e38a,NaN,NaN,NaN,105.0,NaN,NaN,1e3ea9498c461cbf

In [52]:
group_o=id_2_operation[10000]
group_t=id_2_transaction[10000]
group_t.shape[0]

2

In [53]:
# amount of operation
def amount_of_operation(group):
    return group.shape[0]
def amount_of_transaction(group):
    return group.shape[0]